/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/text-shadow";

body {
    background-color: black;
}

$panel-width: 800px;

.__panel-font {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: #00ff00;
  @include text-shadow(2px 2px 0 green, 2px -2px 0 green, -2px 2px 0 green,
  -2px -2px 0 green);
}

.__panel {
  @extend .__panel-font;
  width: $panel-width;
  margin: auto;
}

.result {
  @extend .__panel;
  line-height: 40px;
  height: 200px;
  margin-top: 100px;
}

.command {
  @extend .__panel;
  height: 35px;
  margin-top: 20px;
}

.cmdprompt {
  display: inline-block;
  width: 40px;
  overflow: hidden;
}

.cmdinput {
  border: none;
  padding: 0;
  height: 35px;
  width: $panel-width - 100px;
  outline: none;
  @extend .__panel-font;
  background-color: black;
}
