/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/text-shadow";

body {
    background-color: black;
}

$panel-width: 800px;

$text-shadow-radius: 1px;

.__panel-font {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  color: #00ff00;
  @include text-shadow(
  $text-shadow-radius $text-shadow-radius 0 green,
  $text-shadow-radius (-$text-shadow-radius) 0 green,
  -$text-shadow-radius $text-shadow-radius 0 green,
  -$text-shadow-radius (-$text-shadow-radius) 0 green)
}

.__panel {
  @extend .__panel-font;
  width: $panel-width;
  margin: auto;
}

.result {
  @extend .__panel;
  line-height: 20px;
  height: 250px;
  margin-top: 80px;
  word-wrap: break-word;
}

.command {
  @extend .__panel;
  height: 35px;
  margin-top: 20px;
}

.cmdprompt {
  display: inline-block;
  width: 25px;
}

.cmdinput {
  border: none;
  padding: 0;
  height: 35px;
  width: $panel-width - 100px;
  outline: none;
  @extend .__panel-font;
  background-color: black;
  display: inline-block;
}
