!!! 5
%head
  %script{:src => "jquery.min.js"}
  %script{:src => "sprintf.js"}
  %script{:src => "cmdblog.js"}
  %script{:src => "main.js"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "cmdblog.css"}
%body
  .result
  .command
    %span.cmdprompt
      &#35;&#58;
    %input.cmdinput{:type => "text"}
